@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* ========NEW CSS FILE============= */




/* ========NEW CSS FILE============= */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
}

:root {
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --gradient1: linear-gradient(to top, #accbee 0%, #94accb 100%);

    --secondary: #B8F3FF;
    --accent: #63768D;
    --accent2: #554971;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 2.5rem;
    --fs-h1-span: 2.5rem;
    --fs-h2: 3.5rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-h5: 1rem;
    --fs-h6: 0.8rem;
    --fs-p: 1.25rem;

    --fs-icon-text: 0.65rem;
    --fs-navlogo: 2rem;
    --fs-navli: 1.4rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 2.25rem;
    --fs-asidebtn: 2.8rem;
    --fs-btn-cards: 1rem;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* <!-- --------Desktop CSS--------------> */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    position: relative;
    min-height: calc(100vh - 75px);
    z-index: -1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 75px);
    max-width: 100%;
    margin-top: 63px;
    overflow-x: hidden;
    background: black;
}

img {
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
}

/* <!-- --------Desktop CSS--------------> */
.nav-header {
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    height: 75px;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
}

.nav-bar {
    background: rgb(39, 38, 38);
    position: fixed;
    min-width: 100%;
    max-width: 100%;
    height: 75px;
    left: 0;
    top: 0;
    padding: 0px 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    visibility: hidden;
    opacity: 0;
    animation: show-content 1.2s linear forwards;
    animation-delay: 0.5s;

    box-shadow: 0px 5px 15px 2px black;
}

.navbar-logo{
    overflow: visible;
}
.navbar-logo img{ 
    transform: translateY(17px);
    width: 158px !important;
    height: 115px !important;
    z-index: 2;
}

.nav-bar a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.nav-bar img {
    width: 50px;
    height: 50px;
}

.checkbox-container img {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}

.checkbox-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;

}

#checkbox-status {
    display: none;
}

.checkON,
.checkOFF {
    display: none;
}

.nav-bar .logoImage {
    font-size: var(--fs-navlogo);
    font-weight: 800;
    transition: .5s ease-in-out;
    padding: 5px;
}

.nav-bar .logoImage:hover {
    transform: scale(1.05) translateY(-2%);
    border-bottom: 2px solid var(--accent3);
    color: goldenrod;
}

.nav-bar ul {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 4em;
    box-sizing: border-box;
}

.nav-bar ul li {
    list-style-type: none;
    transition: .5s;
}

.nav-bar ul li:hover {
    transform: scale(1.1) translateY(-5%);
}

.nav-bar ul li a {
    font-size: var(--fs-navli);
    font-weight: 800;
    color: whitesmoke;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.5s ease;
}

.nav-bar ul li:hover a,
.nav-bar ul li.active a {
    color: goldenrod;
    border-bottom: 2px solid var(--accent3);

}

/* <!-- ----Header end---------------> */

/* <!-- ----Wrapper Animation--------> */
.wrapper-animation {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper-animation .bar {
    width: 100%;
    height: 100%;
    background: white;

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: black;
    }

    100% {
        opacity: 0;
        color: white;
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <!-- ----Wrapper Animation End----> */
button{
    opacity: .8;
    background: transparent; 
    font-size: .9rem !;
    font-weight: bold;
    color: black;
    padding: 1px 5px !important;
    border-radius: 15px;
    border: none;
}
/* <!-- ----Home Section--------> */
.home-section {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 15px;

    max-height: calc(100vh - 80px);
    max-width: 100%;
    
    color: rgba(90, 90, 90, 0.993);
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.5s;

    background-image: url('../public/gallery/tempbgs/table-bg.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-image 0.5s ease-in-out;
}

.home-info {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100cqmax;
    width: 100%;
    background: rgba(255, 255, 255, .20);


}

.home-logo-wrapper{
    scrollbar-width: none;
    resize: vertical;
    overflow: auto;
    margin-top: 5em;
    width: 100%;
    min-height: 450px;
    max-height: 100vh;
 /*    border-radius: 50% 50% 0px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 10px 1px black;
    
    
}

.logo-img {
    transform: translateY(-20px) !important;
    width: 350px;
    display: flex;
    justify-content: center;
    transition: 2s;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

    animation: float 2s linear infinite;
}
.logo-img img {
    transform: translateY(-175px) !important;
}
.logo-img .logo-img-box {
    transform: translateY(35px);
}
.logo-img .logo-img-box::before{
    width: 560px !important;
    height: 560px !important;
}

.home-section-header{
    transform: translateY(-90px) !important;
    display:none !important;
}

.typing-text-container{
    transform: translateY(-80px) translateX(5px) !important;
}
.social-icons{
    transform: translateY(-0px) !important;
    
}
.social-icons-box{
    display: flex;
    gap: 20px;
}

@keyframes float {
    0% {
            transform: translateY(-15.5px);
        }
    
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(-15.5px);
    }
}

.logo-img:hover {
    transform: scale(1.01);
    opacity: .8;
    box-shadow: 5px 5px 15px 0px rgba(76, 159, 242, 0.05);
}

.logo-img .logo-img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 2px;
    visibility: hidden;
    overflow: visible;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
    border-radius: 50%;
}

.logo-img .logo-img-box::before {
    content: ' ';
    position: absolute;
    width: 800px;
    height: 800px;
    border-left: 2px solid rgba(255, 255, 255, 0.384);
    transform: rotate(0deg);
    animation: rotate-border 3.5s linear infinite;
    z-index: -1;
    border-radius: 50%;
}

.logo-img .logo-img-box::after {
    content: ' ';
    position: absolute;
    width: 0px;
    background: black;
    height: 0px;
    transform: rotate(0deg);
    animation: rotate-border 4s linear infinite;
    border-radius: 15px;
}

.logo-img .logo-img-box::after {
    animation-delay: -3s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.logo-img-box .logo-img-item {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);

    overflow: visible;
    border-radius: 50%;
}

.logo-img .logo-img-box .logo-img-item img {
    object-fit: cover;
    mix-blend-mode: multiply;
    overflow: visible;
}

.logo-img-item img {
    transform: translateY(0px) translateX(-5px);

    min-width: 500px;
    height: 600px;
}

.home-section-header {
    transform: translateY(0px) translateX(0px);
    
    padding: 0px 100px;
    border-radius: 15px;
    background: rgba(31, 30, 30, 0);
    display: flex;
    gap: 25px;
 /*    box-shadow: 0px 0px 20px 2px rgba(218, 165, 32, 0.555); */
}

.home-section-header h1 {
    line-height: unset;
    color: white;
    font-size: var(--fs-h1);
    font-weight: 700;
    animation: show-content 1s linear forwards;
    animation-delay: 0.7s;
}

.home-section-header span {
    line-height: unset;
    font-size: var(--fs-h1-span);
    font-weight: 800;
    color: goldenrod;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.9s;
}

@keyframes fill-text {

    10%,
    100% {
        width: 100%;
    }

    70%,
    100% {
        width: 0%;
    }
}

.typing-text-container {
    transform: translateY(-50px);
    min-width: 450px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.typing-title-container {
    display: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background: black;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid white;
    border-right: none;
}

.typing-text {
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}


.separator {

    width: 0px;
}

.animated-typing {
    padding: 5px 0px;
    text-align: center;
    width: 70%;
    color: black;
    overflow: hidden;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
}

.animated-typing span {
    color: black;
    font-size: 1.25rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
    padding-left: 0px;
    opacity: 0;
    transform: translateX(-5px);
    -webkit-text-stroke: 1px black;
    animation: typing 0.5s forwards;
    margin-right: 1.5px;
    min-width: 5px;
}

.animated-typing span::before {
    content: "";
}

@keyframes typing {
    0% {
        opacity: 0;
        transform: translateX(-25px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fill-text {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.home-info p {
    color: snow;
    margin-bottom: 2em;
    background: rgba(0, 0, 0, 0.651);
    text-align: right;
    padding: 1em 20px;
    width: 40%;
    font-size: var(--fs-p);
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
    transition: 0.5s;
    border-radius: 15px;
}

.home-info p:hover {
    transform: scale(1.005);
    color: rgb(226, 224, 224);
}

.home-info .social-icons {
    padding: 3px 15px;
    border-bottom: 1px solid goldenrod;
    transform: translateY(15px);
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.1s;
}

.home-section .social-icons .social-icons-box a {
    display: inline-flex;
    padding: 10px;
    margin: 0 8px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    font-size: var(--fs-scbtn);
    color: #ffffff;
    transition: 0.5s;

    box-shadow: 0px 4px 10px 1px rgba(218, 165, 32, 0.548);
}

.home-section .social-icons .social-icons-box a:hover {
    background-color: white;
    color: var(--backcolor1);
    border: 2px solid black;
    box-shadow: 0 0 10px var(--secondary);
    transform: scale(1.1) translateY(-5%);
}
/* <!-- ----End Home Section--------> */


/* --------Carousel Base-------- */
.carousel-container {
    margin-top: 3em !important;
    backdrop-filter: blur(1px);

    width: 49%;
    height: 260px;
    margin: 0 auto;
    overflow: visible;
    perspective: 1000px;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    /* box-shadow: 15px 20px 20px 1px rgba(0, 0, 0, 0.193); */
}
h4{
    transform: translateY(-22px);
}

.carousel {
    transform: translateY(20px);
    min-width: 101%;
    
    display: flex;
    gap: 1.5em;
    transition: transform 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    
   /*  border-image: url('../public/gallery/tempbgs/bg8.jpg'); */
    border-image-width: 200px;
    border-image-slice:50%;
    border-image-outset: 10px;
    border-image-repeat:stretch;
    overflow: visible;

}

.carousel-item.active {
    display: block; 
    transition: opacity 1.5s ease;
}

.carousel-item {    
    
    border-radius: 2px;
    width: 400px;
    height: 250px;
    position: relative;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transform-origin: center center;
    transition: opacity .5s ease;
    border: 1px solid black;
    

    border-image: url('../public/gallery/tempbgs/pic-frame15.jpg') !important;
    border-image-width: 1000px !important;
    border-image-slice: 10% !important;
    
    border-image-outset: 0px;
    border-image-repeat: stretch;   
    padding: 1px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 1px black;
    transition: transform 0.3s ease;
    object-fit: cover;
    
}
.carousel-item img:hover{
    transform: scale(1.05);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(1px);
    color: black;    
    padding: 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 4rem;
    transition: background-color 0.3s;

    width: 50px;
    height: 100%;
    border-radius: unset;
    opacity: .8;
}

.carousel-btn:hover {
    opacity: .7;
    color: snow;
    
}

.prev-btn {
    left: -0px;
    
} 
.next-btn {
    right: -0px;
}
.prev-btn button{
    font-size: 5rem;
}
/* --------Carousel Base-------- */
@media (max-width:975px){

    .projects-section, .contact-section, .home-section{
        background-attachment: scroll !important;
    }
    .carousel-container {
        margin-top: 0 !important;
        padding: 0;
        height: 250px;
        width: 100%;
        border-radius: 0px;
    }

    .carousel {
        width: 100% !important;
        gap: .5em;
        overflow: hidden;
    }

    .carousel-item{
        min-width: 200px !important;
        max-width: 200px !important;
        height: 180px !important;
    }
    .prev-btn {
        left: 0px;
    }
    .next-btn {
        right: 0px;
    }
}
/* <!-- ----Projects Section---------------> */
.projects-section {
    background-image: url('/public/gallery/tempbgs/gallery-bg8.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    

    background-color:rgb(24, 24, 24);
    
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    transition: background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    height: 100%;
    padding: 0 !important;
    position: relative;
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642);
}

.cards-container {
    display: none !important;
    background: transparent;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
    grid-template-rows: repeat(auto-fill, 450px);
    justify-content: center;
    gap: 10px;
    row-gap: 10px;
    padding: 5em 0 3em;
    height: 100%;
}

.cards-box {
    background: rgba(0, 0, 0, 0.2);
    object-fit: contain;
    min-width: 500px;
    min-height: 450px;
    max-height: 450px;
    padding: 0 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    transition: .6s;
    cursor: pointer;
}

.cards-box:hover {
    transform: scale(1.03);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 2.2em;
    border: 1px solid rgba(0, 255, 255, 0.586);
}

.cards-box:hover h4,
.cards-box:hover p {
    background: rgba(0, 0, 0, 0.6);
}

.sticky-title {
    margin-top: 3.25em;
    width: 100%;
    position: -webkit-sticky;
    position: sticky !important;
    top: 75px !important;
    height: 70px;
    z-index: 1 !important;
    overflow: hidden !important;
    background: #00000025;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.80);
    text-align: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-menu {
    display: flex;
    gap: 1em;
    font-size: .9rem;
    font-weight: 700;
    color: white;
}

.projects-filter {
    cursor: pointer;
    transition: .5s;
}

.projects-filter:hover {
    color: #00fbff;
    text-decoration: underline;
    font-size: 1rem !important;
}

.projects-section h2 {
    font-size: 1.8rem;
    color: snow;
    max-width: 100vw;
}

.cards-box h4 {
    text-align: center;

    font-size: var(--fs-h4);
    color: snow;
    text-decoration: underline;
    font-weight: 700;
    width: 100%;
}

.cards-box p {
    background: rgba(0, 0, 0, 0.645);
    position: absolute;
    bottom: 25px;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    color: snow;
    font-weight: 600;
    margin-bottom: 0em;
}

.cards-img-box {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.cards-img-box img {
    transition: 1s;
    image-rendering: optimizeQuality;
    object-fit: cover;
    position: absolute;
    min-height: 100%;

    position: absolute;
    max-width: 100%;
    justify-self: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cards-box:hover img,
.cards-box img:hover {
    scale: 1.04;
}

.card-tags {
    background: #052c62;
    color: rgba(0, 238, 255, 0.914);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
    box-shadow: 0 0 15px 1px #00fbff63;
    opacity: 0.90;
    overflow: hidden;
    transition: 4s;
    animation: tags-anim 4s linear infinite;
}

@keyframes tags-anim {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(-50%);
    }
}

.cards-btn {

    display: block;
    position: absolute;
    margin: .2em 0 .5em;
    bottom: 5px;
    padding: 0.3em 0em;
    background: transparent;
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);
    font-size: var(--fs-btn-cards);
    color: var(--secondary);
    font-weight: 600;
    transition: .5s;
    align-self: center !important;
    width: 70%;
    text-align: center;
}

.cards-btn:hover {
    background: transparent !important;
    color: var(--secondary) !important;
    border: 1px solid var(--backcolor1) !important;
    box-shadow: 0 0 8px var(--secondary) !important;
    transform: scale(1.05) translateY(-5%);
}


.cards-box:hover .cards-btn {
    background: #b8f3ffd4;
    color: var(--backcolor1);
    border: 2px solid var(--secondary);
    box-shadow: 0 0 8px var(--secondary);
}

/* <!-- ----End Project Section----------> */

/* <!-- ----About Section----------------> */
#about-section {
    font-family: 'Poppins', sans-serif;
    min-height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
    padding: 2em;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    background-image: url('../public/gallery/tempbgs/gallery-bg22.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    transition: background-image 0.5s ease-in-out;
}

.about-content-wrapper {
    scrollbar-color: goldenrod black;
    scrollbar-width: thin;
    height: auto;
    max-height: 500px;


    overflow-y: auto;
    overscroll-behavior: contain;
    scroll-padding-top: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.103);
}

.about-content-wrapper::-webkit-scrollbar {
    width: 12px;
}

.about-content-wrapper::-webkit-scrollbar-track {
    background: black;
    /* Track background */
}

.about-content-wrapper::-webkit-scrollbar-thumb {
    background-color: goldenrod;
    /* Thumb color */
    border-radius: 6px;
    border: 2px solid black;
    /* Optional border around thumb */
}

.about-content-wrapper::-webkit-scrollbar-button {
    background-color: black;
    /* Arrows */
}

#btn-contact {
    padding: 5px 25px;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

#about-section h2 {
    font-size: var(--fs-h2);
    color: goldenrod;
}

#about-section p {
    scroll-snap-align: center;
    scroll-snap-stop:always;
    margin: 2em 0;
    width: 80%;
    height: auto;

    background: rgba(0, 0, 0, 0.744);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px black;

    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: right;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.img-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    position: absolute;
    top: 50px;
    right: -70px;
}

#about-img-box {
    transform: unset !important;
    min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
    align-items: flex-end !important;
        justify-self: flex-end !important;
}

#about-img-box .logo-img-item img {
    min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
    transform: translateY(0px) translateX(-1px) !important;
}

#about-img-box::before {
    min-width: 150px;
        max-width: 150px;
        min-height: 150px;
        max-height: 150px;
    border-left: 1px solid white;
    background: transparent;
    background-color: transparent;
}

#about-img-box::after {
    display: none;
}

/* <!-- ----About Section----------------> */

/* <!-- ----Contact Section----------------> */
#contact-section {
    position: relative;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642);
    min-height: 350px;
    padding: 50px 25px 50px 25px;
    gap: 15px;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background-image: url('../public/gallery/tempbgs/gallery-bg20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

#contact-section h2 {
    font-size: var(--fs-h2);
    color: goldenrod;
}

#contact-section p {
    color: whitesmoke;
    font-size: var(--fs-p);
    font-weight: 700;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: .5em;
}

.form-container {
    width: 35%;
    height: 380px;
    position: relative;
}

.contact-box {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.281);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 2px #afc0ff23;
    border-radius: 10px;
}

.contact-box form {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    width: 100%;
}

.contact-box .user-box {
    position: relative;
}

.contact-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: .8rem;
    color: #00fbff;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

#userMessage {
    font-size: 0.7rem;
}

.msg-label {
    bottom: 20px;

}

.contact-box .user-box label {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.contact-box .user-box input:focus~label {
    top: -20px;
    left: 0;
    color: var(--secondary);
    font-size: 0.9rem;
}

.contact-box .user-box input:not(:placeholder-shown)~label {
    top: -20px;
    left: 0;
    font-size: 0.9rem;
    font-weight: 600;
    transition: .5s;
    text-shadow: rgb(255, 0, 0) 1px 0 5px;
}

.contact-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: greenyellow;
    font-size: 0.9rem;
    text-shadow: none;
}


.contact-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--secondary);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.form-btn {
    grid-column: -1/1;
    display: inline-block;
    padding: 10px 30px;
    background: black;
    border: 2px solid goldenrod;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);
    font-size: var(--fs-rebtn);
    color: goldenrod;
    font-weight: 600;
    width: 50%;
    align-self: center;
    justify-self: center;
    transition: .5s;
}

.form-btn:hover {
    background-color: goldenrod;
    color: black;
    border: 2px solid black;
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%) !important;
}

/* <!-- ----End Contact Section----------------> */

/* <!-- ----Scroll-up Button----------------> */
.btn-up {
    display: inline-flex;
    background: rgba(0, 0, 0, 0.747);
    position: fixed;
    right: 35px;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    transition: 0.5s;
    animation: btn-up-anim 3s linear infinite;
    border: 2px solid goldenrod;
    z-index: 10;
}

.btn-up a {
    display: inline-flex;
    font-size: 3.5rem;
    color: goldenrod;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
}
.btn-up:hover i, .btn-up i:hover{
    color: black;
}

.btn-up:hover{
    color: black;
    border: 2px solid black;
    background: goldenrod;
    border-radius: 50%;
    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    opacity: 1;
}

.btn-up a:hover {
    animation-delay: .5s;
    color: rgb(255, 255, 255) !important;

}

@keyframes btn-up-anim {

    0%, 100% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
    }

}

/* <!-- ----Scroll-up Button End------------> */

/* <!-- ----Footer--------------------------> */
#footer {
    background: black;
    display: flex;
    padding: 0.3em 1em;
    justify-content: space-between;
    text-align: center;
    color: white;
}

#footer h5 {
    text-align: justify;
    font-size: var(--fs-h5);
    align-self: center;
}

#footer h6 {
    text-align: justify;
    font-size: var(--fs-h6);
    padding-right: 1em;
}

/* <!-- ----Footer--------------------------> */



/* <!-- -------==MEDIA QUERIES==------------> */
@media (max-width:980px) {
    :root {
        --secondary: #B8F3FF;
        --fs-h1: 2.3rem;
        --fs-h1-span: 4rem;
        --fs-h2: 2.8rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.4rem;
        --fs-h5: 0.8rem;
        --fs-h6: 0.5rem;
        --fs-p: 1rem;

        --fs-navlogo: 1.5rem;
        --fs-navli: 0.7rem;
        --fs-rebtn: 0.7rem;
        --fs-scbtn: 1rem;
        --fs-asidebtn: 2rem;
    }

    /* <!-- ----@Media Header--------------> */
    .nav-bar {
        flex-direction: row;
        align-content: center !important;
        align-items: center !important;
        justify-content: space-between !important;
        justify-items: center !important;
        padding: unset !important;
        padding-left: 2.5em !important;
        gap: 2em !important;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        position: relative;
    }

    .checkON {
        right: 0;
    }

    .checkbox-container {
        flex-direction: column;
        position: fixed;
        top: -110%;
        right: 0;
        width: 100%;
        z-index: 100;
        background-color: var(--gradient1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.7s ease-out;
    }

    .nav-bar ul li a {
        width: 100%;
        height: auto;
        padding: 0.5em !important;
        display: flex;
        justify-content: center !important;
        font-size: 1.2em;
        color: var(--accent3) !important;
        background-color: var(--backcolor3);
        box-shadow: unset;
    }

    .nav-bar ul {
        gap: .8em;
        margin-top: 25px;
        background-color: #1f242d;
        padding: 2em;
        justify-content: center;
        align-items: center;
    }

    .nav-bar ul li {
        border: unset;
        width: 80%;
    }

    .nav-bar ul li:hover {
        width: 80%;
        align-self: center;
        margin: 15px;
    }

    .nav-bar ul li a {
        border-radius: 7px;
        width: 100%;
    }

    .nav-bar ul li:hover a {
        border-bottom: unset;

    }

    .nav-bar ul li.active a {
        border-bottom: unset;
    }

    .nav-bar ul li a:hover,
    .nav-bar ul li.active a:hover {
        background-color: var(--accent3);
        color: var(--backcolor3) !important;
        box-shadow: 0 0 5px var(--secondary);
    }

    .checkON,
    .checkOFF {
        display: flex !important;
        flex-direction: column;
        align-self: center;
    }

    .checkON,
    .checkOFF {
        display: block;
    }

    #checkbox-status:checked~.checkbox-container {

        top: 0;
    }

    #checkbox-status:checked~#coverlay,
    #checkbox-status:checked~#coverlay:hover {
        background: rgba(0, 0, 0, 0.066);
        -webkit-backdrop-filter: blur(3px) !important;
        backdrop-filter: blur(3px) !important;
        height: 100% !important;
        width: 100% !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100 !important;
        transition: 0s !important;
        overflow: visible;
    }

    #checkbox-status:checked~.checkON {
        display: none !important;
    }

    /* <!-- ----@Media Header End--------------> */

    /* <!-- ----@Media Wrapper Animation-------> */
    /* <!-- ----@Media Wrapper Animation End---> */

    /* <!-- ----@Media Home Section--------------> */
    .home-section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .home-info {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .home-section-header {
    }

    .home-section-header span, .home-section-header h1 {
        font-size: 2rem;
    }

    .animated-typing{
        transform: translateY(15px) translateX(-18px);
    }
    .typing-text-container{
        min-width: 98vw !important;
        max-width: 100vw !important;
        transform: unset;
    }
    .home-info .social-icons{
        padding: 3px 0px;
        transform: translateY(-50px) !important;
    }
    .home-paragraph{
        transform: translateY(-20px) !important;
    }
    .typing-text{
        font-size: .9rem;
    }
    .animated-typing span{
        font-size: .9rem !important;
    }
    .typing-text span {
        -webkit-text-stroke: .7px var(--secondary);
    }

    .home-logo-wrapper {
        min-height: 225px;
        max-height: 225px;
    }

    .logo-img:hover {
        transform: scale(1.05) !important;
    }

    .logo-img .logo-img-box {
        transform: translateY(-10px);
        width: 150px;
        height: 150px;
    }

    .logo-img .logo-img-box::before {
        background: unset;
        width: 150px !important;
        height: 150px !important;
        border-right: 1px solid white;
        border-left: unset;
    }

    .logo-img .logo-img-box::after {
        background: unset;
        width: 150px;
        height: 150px;
        border-right: unset;
        border-left: unset;
        border-radius: 50%;
    }

    .logo-img-item{
    }
    .logo-img-item img {
       
        min-width: 225px !important;
        height: unset;
        transform: unset!important;
    }

    .home-info p {
        text-align: center;
        width: 95%;
    }

    /* <!-- ----@Media Home Section End----------> */
    /* <!-- ----@Media Projects Section--------------> */
    .projects-section {
    background-image: unset;
    /* overflow-y: scroll;
    scrollbar-width: none; */
    padding: 2.5em 0px 0em;
    /* max-height: 100vh; */

    /* background-image: url('../public/gallery/tempbgs/bg19.jpg');
    background-size:cover; */
    
    }

    .sticky-title {
        min-width: 100%;
        overflow: hidden;
        border: none;
        height: 70px;
    }
    .sticky-title, .sticky-title h2, .projects-menu{
        z-index: 5;
        position: relative;
    }

    .projects-menu {
        display: flex;
        gap: .3em;

        font-weight: 600;
        color: white;
    }

    .projects-filter:hover {
        font-size: .75rem !important;
        padding: .3em .1em;
        color: #00fbff !important;
    }

    .projects-filter {
        font-size: .75rem !important;
        padding: .3em .1em;
        cursor: pointer;
    }

    .projects-section h2 {
        min-width: 100%;
        font-size: 1.4rem;
    }

    .projects-section p {
        font-size: .75rem;
        border-radius: 0px !important;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(275px, 275px));
        grid-template-rows: repeat(auto-fill, 475px);
        width: 90% !important;
        row-gap: 3.5em !important;
    }

    .cards-box {
        min-width: 250px;
        box-shadow: 0px 0px 15px 2px black;
    }

    .cards-box.visible {
        margin: 2em 0;
        transform: scale(1.09);
        border-radius: 15px;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        opacity: 1;
    }

    .cards-box.visible p {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: background 1.25s ease-in-out;
    }


    /* <!-- ----@Media Projects Section End----------> */

    /* <!-- ----@Media About Section--------------> */
    #about-section {
        padding: 25px 25px 50px;
    }
    .about-content-wrapper{
        width: 90%;
    }

    #about-img-box {
        display: none;
        width: 100px !important;
        height: 100px !important;
    }

    #about-section p {
        padding: 0 !important;
        font-size: var(--fs-p) !important;
    }


    /* <!-- ----@Media About Section End--------------> */

    /* <!-- ----@Media Contact Section--------------> */
    #contact-section {
        padding: 25px 20px 70px;
        height: 85vh;
        justify-content: center;
        gap: 2em;
    }

    #contact-section p {
        padding: 0 !important;
        margin-top: 1em;
        font-size: .98rem !important;
    }

    .form-container {
        width: 100% !important;
        height: 20em !important;
    }

    .contact-box .user-box input {
        width: 100% !important;
    }

    .contact-box form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em !important;
    }

    .contact-box .user-box label {
        left: 10px;
    }

    .form-btn {
        width: 100% !important;
        grid-column: span 2;
    }

    /* <!-- ----@Media Contact Section End----------> */

    /* <!-- ----@Media Scroll-up Button-------------> */
    .btn-up {
        right: 10px !important;
        bottom: 35px !important;
    }

    .btn-up a {
        font-size: 3rem !important;
        opacity: 0.7 !important;
    }

    /* <!-- ----@Media Scroll-up Button End---------> */

    /* <!-- ----@Media Footer-----------------------> */
    #footer h5 {
        font-size: var(--fs-h5);
    }

    #footer h6 {
        font-size: var(--fs-h6);
    }
}

/* <!-- ----@Media Footer End-------------------> */