

.toastify {
    direction: rtl;
    background: black !important;
    color: #E7D8BA !important;
    display: flex !important;

    border-radius: 12px !important;
    padding: 10px 12px;
    font-weight: 500;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: swoopDown 1.5s cubic-bezier(0.34, 1.36, 0.64, 1);
}
.toastify .toastify-content span{
    color: #E7D8BA !important;
}
.toastify-top{
    top: 70px !important;
}

.success-toast {
    border: 1px solid #1aff05b9;
}

.error-toast {
    border: 1px solid crimson;
}

.info-toast {

}

.loading-toast {
    border: 1px solid rgb(102, 126, 234);
}

.toastify .toast-close {
    opacity: 0.7;
    font-weight: bold;
    transition: opacity 0.2s;
}

.toastify .toast-close:hover {
    opacity: 1;
}

.toastify:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.toastify.toastify-off {
    animation: swoopUp 0.3s ease-in forwards;
}

@keyframes swoopDown {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes swoopUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px) scale(0.9);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .toastify {
        font-size: 14px;
        padding: 14px 18px;
        min-width: fit-content;
        max-width: 50vw;
    }

    .toastify-top {
        top: 60px !important;
    }
}