* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif !important;
    text-decoration: none;
    text-align: right;
    text-underline-offset: 10px;
}

:root {
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --gradient1: linear-gradient(to top, #accbee 0%, #94accb 100%);

    --secondary: #E7D8BA;
    --accent: #dfbd79;
    --accent2: #8a795f;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 2.2rem;
    --fs-h1-span: 2rem;
    --fs-h2: 1.8rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-h5: 1rem;
    --fs-h6: 0.9rem;
    --fs-p: 1.5rem;

    --fs-icon-text: 0.65rem;
    --fs-navlogo: 2rem;
    --fs-navli: 1.4rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 2.25rem;
    --fs-asidebtn: 2.8rem;
    --fs-btn-cards: 1rem;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* <!-- --------Desktop CSS--------------> */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
    scrollbar-color: rgb(204, 172, 107) rgb(39, 38, 38);
    text-shadow: -3px 1px 2px #facc6815;
}

body {
    position: relative;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    background: #fafafa;
    color: black;
}

h2 {
    color: rgb(202, 165, 100);
}

span {
    color: black;
    font-weight: 600;
}

img {
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    direction: rtl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visible-content {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* <!-- --------Desktop CSS--------------> */


/* <!-- ----Wrapper Animation--------> */
.wrapper-animation {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper-animation .bar {
    width: 100%;
    height: 100%;
    background: white;

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: black;
    }

    100% {
        opacity: 0;
        color: white;
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <!-- ----Wrapper Animation End----> */
button {
    opacity: .8;
    background: transparent;
    font-size: .9rem !;
    font-weight: bold;
    color: black;
    padding: 1px 5px !important;
    border-radius: 15px;
    border: none;
}

/* <!-- ----Home Section--------> */
.home-section {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: calc(80vh - 60px);
    min-width: 100%;
    max-width: 100%;
    padding: 0em 2.5em 1.5em;
    position: relative;

/*     box-shadow: 0px 0px 15px 1px var(--secondary); */
}

.home-bg-overlay {
    height: 100%;
    width: 100%;

    aspect-ratio: 16 / 9;
    background-image: url('/layout/arrangement-6.webp');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    border-radius: 50px;
}

.home-info {
    display: none !important;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
    width: 650px;
    min-width: 650px;
    max-width: 100vw;

    overflow: hidden;
    backdrop-filter: blur(4px);

    background: rgba(255, 255, 255, 0.784);
    box-shadow: 2px -5px 15px 1px var(--secondary);

    transition: .5s;
}

.home-info:hover {
    background: rgba(255, 255, 255, 0.75);
}

.home-info-logo {
    margin-top: 2em;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.home-info-logo img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3.5em;
    min-height: 50cqh;
    gap: 1em;
    transform: translateY(-35px);
}

.home-section h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.slogan {
    color: black;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center !important;
}

.home-paragraph {
    font-weight: normal;
    font-size: 1.7rem;
    opacity: 0;
    animation: show-content .5s linear forwards;
    transition: 0.3s;
    border-radius: 15px;
    text-align: center;
}

.home-paragraph span {
    font-weight: 700;
}

.meet-us {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
    align-self: flex-end !important;
    justify-self: flex-end !important;
}

.meet-us a,  .event-types a {
    color: black;
}

.home-info p:hover {
    transform: scale(1.005);
}

.social-icons {
    padding: 3px 15px 1em;
    transform: translateY(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.1s;
    border-bottom: 1px solid #E7D8BA;
}

.social-icons .social-icons-box a {
    display: inline-flex;
    padding: 10px;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 2.7rem;
    color: var(--accent);
    transition: 0.3s;
}

.social-icons .social-icons-box a:hover {
    box-shadow: 0 0 1px var(--accent);
    transform: scale(1.1) translateY(-5%);
}

.social-icons {
    transform: translateY(-0px) !important;
}

.social-icons-box {
    display: flex;
    gap: 20px;
}

/* <!-- ----End Home Section--------> */

/* ---------------- Breadcrumb ---------------- */
.breadcrumb {
    font-family: 'Arial', sans-serif;
    font-size: 0.95rem;
    margin: 1em 1em 0 0;
    direction: rtl;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li+li::before {
    content: "›";
    margin: 0 0.5rem;
    color: var(--accent);
    font-size: 1.5rem;
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: var(--accent);
}

/* <!-- ----Intro Section--------> */
.intro-section {
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E7D8BA;
    gap: 1em;
}

.intro-text, .intro-span {
    width: 70%;
    font-size: 1.8rem;
    color: #626060;
    text-align: center;
    transition: .5s;
}

.intro-text:hover {
    transform: scale(1.005);
}


/* <!-- ----End Intro Section--------> */

/* <!-- ----General Info Section--------> */

.general-info {
    padding: 2em 0 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.gen-info-box.mobile-show {
    display: none;
}

.gen-info-box {
    display: grid;
    grid-template-columns: 47% 53%;
}

.gen-info-box h2 {
    color: #222222 !important;
    font-weight: 500;
}

.full-width {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-img-box-left {
    display: flex;
    align-items: center;
/*     border: 3px solid #E7D8BA; */
    border-left: none;
    width: 93%;
    height: 600px;
    
}

.info-img-left {
    margin-left: 5em;
    height: 80%;
    width: 80%;
    aspect-ratio: 16 / 9;
/*     background-image: url('/layout/bg2.jpg'); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50px;
}
.img-1{
        background-image: url('/layout/arrangement-5.webp');
}
.img-2{
        background-image: url('/layout/קולינריה.webp');
}
.info-img-left::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            #fafafa 0%,
            rgba(250, 250, 250, 0.99) 20%,
            rgba(250, 250, 250, 0.85) 25%,
            rgba(250, 250, 250, 0.75) 30%,
            rgba(250, 250, 250, 0) 40%);
    pointer-events: none;
}

.img-test {
    float: left;
    shape-outside: url('/layout/dishes-appetizers.webp');
    shape-margin: 1em;
    width: 50vw;
}

.info-box-reverse {
    margin-top: 1em;
    position: relative;
}

.info-img-box-right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5em;
    /* border: 3px solid #E7D8BA; */
    border-right: none;
    width: 37%;
    height: 110%;
}

.info-img-right {
    margin: 2em 0em 0em 0em;
    border-radius: 50px;
    height: 88%;
    width: 105%;
    aspect-ratio: 4 / 3;
    background-image: url('/layout/קולינריה 9.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transform: translateX(-5em);
}

.text-right {
    transform: translate(50px, 20px) !important;
}

.info-box-text {
    font-size: var(--fs-p);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2.5em 2em 2.5em;

}

.info-box-text p {
    transition: .5s;
}

.info-box-text p:hover {
    transform: scale(1.005);
}

.event-types {
    text-decoration: underline;
    cursor: pointer;
    direction: rtl;
    transition: .5s;
}

.event-types:hover {
    transform: scale(1.015);
}

/* <!-- ----End General Info Section--------> */

/* <!-- ----Gallery Section---------------> */
.gallery-section {
    min-height: calc(75vh);
    max-height: calc(75vh);
    min-width: 100vw;
    border-top: 1px solid white;
    transition: background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    padding: 5em 0 0;
    position: relative;
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642);

    aspect-ratio: 16 / 9;
    background-image: url('/layout/bg5.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* <!-- ----End Gallery Section----------> */

/* <!-- ----FAQ Section----------> */
.faq-section {
    margin-top: 1em;
    padding: 5em 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;

    border-bottom: 1px solid #E7D8BA;
    direction: rtl;
}

.faq-section h2{
    font-size: 2.5rem;
    color: black;
    font-weight: 500;
}

.faq-container{
    min-height: 643px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: .2em;
}
.faq-item{

}

.faq-question{
    display: flex;
    justify-content: space-between;
    padding: .7em 12px;
    color: var(--accent);
    background: #f8f8f8;
    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.064);

    cursor: pointer;
    transform: .8s;
}
.faq-question:hover {
    background: rgba(0, 0, 0, 0.03);
    transform: translateY(-1px);
}

.faq-question svg{
    width: 30px;
    height: 30px;
    stroke-width: 0;
    stroke-linecap: butt;
    flex-shrink: 0;
    min-width: 30px;
    min-height: 30px;

    transform: rotateX(180deg);
    transition: transform .7s ease;
}
.faq-item.open .faq-question svg {
    transform: rotate(0deg) translateY(60px);
}

.faq-answer{
    max-height: 0;
    font-size: 1.2rem;
    color: #222222;
    background: #fafafa;
    box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.164);
    overflow: hidden;
    transition: .5s ease;

    border-bottom: 1px solid var(--secondary);
}
.faq-item.open .faq-answer {
    min-height: 50px;
    max-height: 300px;
    padding: 1em 2em;
}
/* <!-- ----End FAQ Section----------> */

.reviews-wrapper {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.reviews-wrapper h2 {
    font-size: 3rem;
    font-weight: 400;
    color: #222222 !important;
    text-underline-offset: 15px;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 1px;
}
.reviews-wrapper h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #8a795f !important;
    margin-bottom: 1em;
}

.reviews-container {
    max-width: 85%;
    /* height: 400px; */
    margin-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.instagram-wrapper{
    padding: 0 2em;
    margin-top: 2em;
}

@media (max-width:980px) {
    .reviews-wrapper{
        margin-top: 2em;
    }

    .reviews-container {
        flex-direction: column;
        height: 100%;
        padding-bottom: 2em;
        position: relative;
    }

    .reviews-wrapper h2 {
        font-size: 2rem;
        margin-bottom: .5em;
    }
}

/* <!-- ----Contact Section----------------> */
#contact-section {
    position: relative;
    /*     box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642); */
    min-height: 33vh;
    min-width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}

#contact-section h2 {
    font-size: var(--fs-h2);
    font-weight: 400;
    color: #222222 !important;
    z-index: 1;
    margin-bottom: .5em;
}

#contact-section h4{
    font-size: 1rem;
    color: var(--secondary);
    text-align: center !important;
    padding: .5em 0em 2em;
}

#contact-section p {
    color: #222222;
    font-size: var(--fs-p);
    font-weight: 300;
    text-align: justify;
    z-index: 1;
}

.contact-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-left: 1px solid #E7D8BA;
    padding: 1em 85px 0 15px;
    direction: ltr;
}

.contact-items-box {

    display: flex;
    flex-direction: column;
    gap: .5em;
}

.contact-info-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;

    text-decoration: none !important;
}

.contact-info-item a {
    font-size: 2.8rem;
    color: black;
    font-weight: 200;
    display: flex;
}

.contact-info-item svg {
    width: 35px;
    height: 45px;
    stroke: rgb(0, 0, 0);
    stroke-width: 0;
    stroke-linecap: butt;
    transition: 1.4s;
}
.contact-info-item:hover {
    transform: scale(1.02);
}

#contact-map {
    min-height: 250px;
    width: 25%;
    border-right: 1px solid #E7D8BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    padding: .8em 2.5em;
}

#contact-map iframe {
    border-radius: 12px;
    opacity: .8;
    filter: grayscale(90%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

#contact-map iframe:hover {
    filter: grayscale(40%);
}

#contact-map i {
    font-size: 4em;
    color: #E7D8BA;
}

/* <!-- ----End Contact Section----------------> */

/* <!-- ----Scroll-up Button----------------> */
.btn-up {
    display: inline-flex;
    background: #E7D8BA;
    position: fixed;
    right: 15px;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    transition: 0.5s;
    animation: btn-up-anim 30s linear infinite;
    border: 2px solid #E7D8BA;
    z-index: 10;
}

.btn-up a {
    display: inline-flex;
    font-size: 3.5rem;
    color: black;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
}

.btn-up:hover i,
.btn-up i:hover {
    color: black;
}

.btn-up:hover {
    color: black;
    border: 1px solid black;
    background: #E7D8BA;
    border-radius: 50%;
    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    opacity: 1;
}

.btn-up a:hover {
    animation-delay: .5s;
}

@keyframes btn-up-anim {

    0%,
    100% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
    }

}

/* <!-- ----Scroll-up Button End------------> */

/* <!-- ----Footer--------------------------> */
#footer {
    background: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 0.3em 1em;
    justify-content: space-between;
    text-align: center;
    color: white;
}

#footer h5 {
    text-align: justify;
    font-size: var(--fs-h5);
    align-self: center;
}

#footer h6 {
    text-align: justify;
    font-size: var(--fs-h6);
    padding-right: 1em;
}

/* <!-- ----Footer--------------------------> */

    @keyframes appear {
        from {
            opacity: 0;
            transform: translateX(-800px) ;
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    @keyframes appearReverse {
        from {
            opacity: 0;
            transform: translateX(800px) ;
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .block,
    .block-reverse {
        opacity: 0;
    }

    .block.frozen {
        animation: appear 1.5s forwards;
    }

    .block-reverse.frozen {
        animation: appearReverse 1.5s forwards;
    }
    @supports (animation-timeline: view()) {
        .block {
            animation: appear 1.5s forwards;
            animation-timeline: view();
            animation-range: entry 20% cover 30%;
        }

        .block-reverse {
            animation: appearReverse 1.5s forwards;
            animation-timeline: view();
            animation-range: entry 20% cover 30%;
        }
    }