@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Heebo:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', 'Poppins', sans-serif !important;
    text-decoration: none;
    text-align: right;
    text-underline-offset: 10px;
}

:root {
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --gradient1: linear-gradient(to top, #accbee 0%, #94accb 100%);

    --secondary: #E7D8BA;
    --accent: #dfbd79;
    --accent2: #554971;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 2.2rem;
    --fs-h1-span: 2rem;
    --fs-h2: 1.8rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-h5: 1rem;
    --fs-h6: 0.8rem;
    --fs-p: 1.5rem;

    --fs-icon-text: 0.65rem;
    --fs-navlogo: 2rem;
    --fs-navli: 1.4rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 2.25rem;
    --fs-asidebtn: 2.8rem;
    --fs-btn-cards: 1rem;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* <!-- --------Desktop CSS--------------> */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
    scrollbar-color: rgb(204, 172, 107) rgb(39, 38, 38);
    text-shadow: -3px 1px 2px #facc6815;

    
}

body {
    position: relative;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    background: #fafafa;
    color: black;
}

h2{
    color: rgb(202, 165, 100);
}

span{
    color: black;
    font-weight: 500;
}

img {
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, span{
    direction: rtl;
}

.visible-content{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* <!-- --------Desktop CSS--------------> */


/* <!-- ----Wrapper Animation--------> */
.wrapper-animation {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper-animation .bar {
    width: 100%;
    height: 100%;
    background: white;

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: black;
    }

    100% {
        opacity: 0;
        color: white;
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <!-- ----Wrapper Animation End----> */
button{
    opacity: .8;
    background: transparent; 
    font-size: .9rem !;
    font-weight: bold;
    color: black;
    padding: 1px 5px !important;
    border-radius: 15px;
    border: none;
}
/* <!-- ----Home Section--------> */
.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    min-height: 750px;
    max-height: 3000px;
    min-width: 100%;
    max-width: 100%;
    
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.5s;

    transition: background-image 0.5s ease-in-out;
    position: relative;

    box-shadow: 0px 0px 15px 1px var(--secondary);
}

.home-bg-overlay {
    height: 100%;
    width: 100%;

    background-image: url('/layout/arrangement-6.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-info {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 33%;
    min-width: 580px;
    max-width: 100vw;
    
    overflow: hidden;
    backdrop-filter: blur(4px);

    background: rgba(255, 255, 255, 0.784);
    box-shadow: 2px -5px 15px 1px var(--secondary);
    resize: horizontal;

    transition: 1.5s;
}

.home-info:hover{
    background: rgba(255, 255, 255, 0.65);
}

.home-info-logo{
    margin-top: 2em;
    width: 400px;
    min-height: 300px;

    background-image: url('/alegro-logo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.home-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3.5em;

    gap: 1em;
    min-height: 45cqh;

    transform: translateY(-35px);
}

.home-info-logo h1{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.home-info-text h2 {
    color: black;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
}

.home-paragraph {
    font-weight: normal;
    font-size: 1.7rem;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 0.8s;
    transition: 0.5s;
    border-radius: 15px;
    text-align: center;
}
.home-paragraph span{
    font-weight: 700;
}

.meet-us {
    font-size: 2.4rem;
    text-decoration: underline;
    align-self: flex-end !important;
    justify-self: flex-end !important;
}
.meet-us a{
    color: black;
}

.home-info p:hover {
    transform: scale(1.005);
}

.home-info .social-icons {
    padding: 3px 15px 1em;
    transform: translateY(15px);
    display: flex;
    align-items: center;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1.1s;
}

.home-section .social-icons .social-icons-box a {
    display: inline-flex;
    padding: 10px;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 2.7rem;
    color: var(--accent);
    transition: 0.3s;
}

.home-section .social-icons .social-icons-box a:hover {
    box-shadow: 0 0 1px var(--accent);
    transform: scale(1.1) translateY(-5%);
}

.home-logo-wrapper{
    scrollbar-width: none;
    overflow: hidden;
    margin-top: 5em;
    width: 100%;
    min-height: 400px;
    max-height: 100vh;
 /*    border-radius: 50% 50% 0px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px 1px black;
}

.logo-img {
    transform: translateY(-20px);
    width: 350px;
    display: flex;
    justify-content: center;
    transition: 2s;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

    /* animation: float 5s linear infinite; */
}
.logo-img:hover {
    transform: scale(1.01) translateY(-20px);
    opacity: .8;
    box-shadow: 5px 5px 15px 0px rgba(76, 159, 242, 0.05);
}

.logo-img img {
    transform: translateY(-175px) !important;
}

.logo-img .logo-img-box {
    transform: translateY(35px);
}
.logo-img .logo-img-box::before{
    width: 560px !important;
    height: 560px !important;
}

.social-icons{
    transform: translateY(-0px) !important;
    
}
.social-icons-box{
    display: flex;
    gap: 20px;
}


/* <!-- ----End Home Section--------> */

/* ---------------- Breadcrumb ---------------- */
.breadcrumb {
    font-family: 'Arial', sans-serif;
    font-size: 0.95rem;
    margin: 1em 1em 0 0;
    direction: rtl;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li+li::before {
    content: "›";
    margin: 0 0.5rem;
    color: var(--accent);
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: var(--accent);
}

/* <!-- ----Intro Section--------> */
.intro-section{
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E7D8BA;
}
.intro-text{
    width: 66%;
    font-size: 2rem;
    color: #626060;
    text-align: center;
    transition: .5s;
}
.intro-text:hover{
    transform: scale(1.005);
}
/* <!-- ----End Intro Section--------> */

/* <!-- ----General Info Section--------> */

.general-info{
    padding: 2em 0 7.5em 0;
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.gen-info-box.mobile-show{
    display: none;
}

.gen-info-box{
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.gen-info-box h2{
    color: #222222 !important;
    font-weight: 500;
}

.full-width{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info-img-box-left{
    margin-top: 3em;
    border: 3px solid #E7D8BA;
    border-left: none;
    width: 70%;
    height: 100%;
}
.info-img-left{
    margin: 4.5% 0em 0em 2.5em;

    height: 88%;
    width: 110%;
    background-image: url('/layout/bg2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.info-box-reverse {
    position: relative;
}

.info-img-box-right{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5em;
    border: 3px solid #E7D8BA;
    border-right: none;
    width: 37%;
    height: 110%;
}
.info-img-right{
    margin: 2em 0em 0em 0em;
    
    height: 88%;
    width: 110%;
    background-image: url('/layout/bg3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transform: translateX(-7em);
}

.text-right{
    transform: translate(50px, 20px) !important;
}

.info-box-text{
    font-size: var(--fs-p);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4em 2.5em 2em 2.5em;

}

.info-box-text p{
    transition: .5s;
}
.info-box-text p:hover{
    transform: scale(1.005);
}
.event-types{
    text-decoration: underline;
    cursor: pointer;

    transition: .5s;
}
.event-types:hover{
    transform: scale(1.015);
}
/* <!-- ----End General Info Section--------> */

/* <!-- ----Gallery Section---------------> */
.gallery-section {
    min-height: calc(75vh);
    border-top: 1px solid white;
    transition: background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    padding: 5em 0 0;
    position: relative;
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642);

    background-image: url('/layout/bg5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* animation: floatingbg 400s linear infinite; */
/*     animation: switchbg 10s infinite;  */
}

.sticky-title {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    height: 70px;
    margin-bottom: 50px;
    overflow: hidden;
    background: #00000025;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.80);
    text-align: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}
.sticky-title h2{
    color: var(--secondary) !important;
}

/* <!-- ----End Gallery Section----------> */

/* <!-- ----Contact Section----------------> */
#contact-section {
    position: relative;
/*     box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642); */
    min-height: 33vh;
    min-width: 100vw;
    gap: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
    padding: 1em 3em 1em 0;
}

@keyframes floatingbg-x {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0px;
    }
}

#contact-section h2 {
    font-size: var(--fs-h2);
    font-weight: 400;
    color: #222222 !important;
    z-index: 1;
    margin-bottom: .5em;
}

#contact-section p {
    color: #222222;
    font-size: var(--fs-p);
    font-weight: 300;
    text-align: justify;
    z-index: 1;
}

.contact-info{
    min-width: 250px;
    width: 24cqw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-left: 1px solid #E7D8BA;
}

.contact-info-item{
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5em;

    text-decoration: none !important;
}

.contact-info-item a{
    font-size: 2.8rem;
    color: black;
    font-weight: 200;
}

#contact-map{
    width: 26vw;
    border-right: 1px solid #E7D8BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    padding: .8em 1em;
}
#contact-map iframe{
    border-radius: 12px;
    opacity: .8;
    filter: grayscale(90%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#contact-map iframe:hover{
    filter:grayscale(40%);
}

#contact-map i{
    font-size: 4em;
    color: #E7D8BA;
}

/* <!-- ----End Contact Section----------------> */

/* <!-- ----Scroll-up Button----------------> */
.btn-up {
    display: inline-flex;
    background: #E7D8BA;
    position: fixed;
    right: 15px;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    transition: 0.5s;
    animation: btn-up-anim 30s linear infinite;
    border: 2px solid #E7D8BA;
    z-index: 10;
}

.btn-up a {
    display: inline-flex;
    font-size: 3.5rem;
    color: black;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
}
.btn-up:hover i, .btn-up i:hover{
    color: black;
}

.btn-up:hover{
    color: black;
    border: 1px solid black;
    background: #E7D8BA;
    border-radius: 50%;
    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    opacity: 1;
}

.btn-up a:hover {
    animation-delay: .5s;
}

@keyframes btn-up-anim {

    0%, 100% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
    }

}

/* <!-- ----Scroll-up Button End------------> */

/* <!-- ----Footer--------------------------> */
#footer {
    background: black;
    display: flex;
    padding: 0.3em 1em;
    justify-content: space-between;
    text-align: center;
    color: white;
}

#footer h5 {
    text-align: justify;
    font-size: var(--fs-h5);
    align-self: center;
}

#footer h6 {
    text-align: justify;
    font-size: var(--fs-h6);
    padding-right: 1em;
}

/* <!-- ----Footer--------------------------> */