@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif !important;
    text-decoration: none;
    text-align: right;
    text-underline-offset: 10px;
}

:root {
    --backcolor1: #1f242d;
    --backcolor2: #242b37;
    --backcolor3: #2e4057;

    --gradient1: linear-gradient(to top, #accbee 0%, #94accb 100%);

    --secondary: #E7D8BA;
    --accent: #dfbd79;
    --accent2: #554971;
    --accent3: #94accb;
    --lightpurpleTrans: rgba(55, 7, 67, 0.162);

    --fs-h1: 2.2rem;
    --fs-h1-span: 2rem;
    --fs-h2: 1.8rem;
    --fs-h3: 2rem;
    --fs-h4: 1.4rem;
    --fs-h5: 1rem;
    --fs-h6: 0.8rem;
    --fs-p: 1.5rem;

    --fs-icon-text: 0.65rem;
    --fs-navlogo: 2rem;
    --fs-navli: 1.4rem;
    --fs-rebtn: 1rem;
    --fs-scbtn: 2.25rem;
    --fs-asidebtn: 2.8rem;
    --fs-btn-cards: 1rem;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* <!-- --------Desktop CSS--------------> */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;

    scrollbar-color: rgb(204, 172, 107) rgb(39, 38, 38);
    text-shadow: -3px 1px 2px #facc6815;
}

body {
    position: relative;
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    overflow-x: hidden;
    background: #fafafa;
    color: black;
}

h2 {
    color: rgb(202, 165, 100) !important;
}

span {
    color: black;
    font-weight: 500;
}

img {
    image-rendering: optimizeQuality;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    direction: rtl;
}

.visible-content {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* <!-- --------Desktop CSS--------------> */

.nav-header{
    position: relative !important;
}
/* <!-- ----Wrapper Animation--------> */
.wrapper-animation {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper-animation .bar {
    width: 100%;
    height: 100%;
    background: white;

    transform: translateY(-100%);
    animation: show-bars .7s ease-in forwards;
    animation-delay: calc(.07s * var(--i));
    opacity: 1;

    overflow: hidden;
}

@keyframes show-bars {
    1% {
        transform: translateY(-50%);
    }

    25% {
        transform: translateY(0%);
        opacity: 0.8;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.6;
    }

    75% {
        transform: translateY(125%);
        opacity: 0.4;
        color: black;
    }

    100% {
        opacity: 0;
        color: white;
        visibility: hidden;
    }
}

@keyframes show-content {
    10% {
        visibility: visible;
        opacity: 0.3;
    }

    50% {
        visibility: visible;
        opacity: 0.6;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* <!-- ----Wrapper Animation End----> */
button {
    opacity: .8;
    background: transparent;
    font-size: .9rem !;
    font-weight: bold;
    color: black;
    padding: 1px 5px !important;
    border-radius: 15px;
    border: none;
}

h1{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin-top: .5em;
    font-weight: 500;
}

a{
    color: black;

}
/* <!-- ----Intro Section--------> */
.intro-section {
    padding: 3em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E7D8BA;
    direction: rtl;
}

.intro-section h2{
    text-align: center;
    font-size: 1.8rem;
}

.intro-text {
    width: 60%;
    font-size: 1.75rem;
    color: #626060;
    text-align: center;
    transition: .5s;
}
.intro-text p{
    text-align: center;
}

.intro-text:hover {
    transform: scale(1.005);
}

/* <!-- ----End Intro Section--------> */

/* <!-- ----General Info Section--------> */

.general-info {
    margin: 3em 0em 0em;
    padding: 0 0 2em 0 ;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.gen-info-box {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gen-info-box h2 {
    color: #222222 !important;
    font-weight: 500;
}

.info-img-box-left {
    margin-top: 0em;
    border: 3px solid #E7D8BA;
    border-left: none;
    width: 65%;
    height: 100%;
    position: sticky !important;
    top: 133px;
    left: 0;
}

.info-img-left {
    margin: 1.5em 0em 0em 3em;

    height: 90%;
    width: 110%;
    background-image: url('/layout/IMG_0692.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.culinary-page-img {
    background-image: url('/layout/bg5.webp');
    width: 110%;
    margin: 2em 0em 0em 2.5em;
}
.events-page-img {
    background-image: url('/layout/arrangement-6.webp');
}
.weddings-page-img{
    background-image: url('/images/alegro-events-weddings-3.jpg');
    width: 105%;
}

.events-img-box{
    margin-top: 3em;
    height: 550px;
}
.culinary-img-box{
    margin-top: 3em;
    height: 550px;
}
.weddings-img-box{
    margin-top: 2em;
    height: 450px;
}

.events-info-box p a{
    font-size: 1.15rem;
}

.info-box-reverse {
    position: relative;
}

.info-img-box-right {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5em;
    border: 3px solid #E7D8BA;
    border-right: none;
    width: 40%;
    height: 90%;
}

.info-img-right {
    margin: 2em 5em 5em 0em;

    height: 90%;
    width: 105%;
    background-image: url('/layout/bg3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transform: translateX(-5.5em);
}

.info-box-text {
    width: 95%;
    font-size: var(--fs-p);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 2.5em 1em 1em;
}

.full-width{
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.info-box-text p {
    transition: .5s;
}

.info-box-text p:hover {
    transform: scale(1.005);
}

.event-types, .event-types a {
    text-decoration: underline;
    cursor: pointer;
    color: black !important;
    transition: .5s;
}
.event-types:hover {
    transform: scale(1.015);
}

.info-box-text ul.contact-us-bullets {
    direction: rtl !important;
    list-style-position: inside !important;
}

/* <!-- ----End General Info Section--------> */

/* ---------------- Breadcrumb ---------------- */
.breadcrumb {
    font-size: 0.95rem;
    margin: 1em 1em 0 0;
    direction: rtl;
}

.breadcrumb ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li+li::before {
    content: "›";
    margin: 0 0.5rem;
    color: var(--accent);
}

.breadcrumb a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: var(--accent);
}

/* <!-- ----Gallery Section---------------> */
.gallery-section {
    min-height: calc(90vh);
    border-top: 1px solid white;
    transition: background-image 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 100vw;
    padding: 2.5em 0 5em 0;
    position: relative;
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.015);
/* 
    background-image: url('/public/gallery/bg5.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* animation: floatingbg 400s linear infinite; */
    /*     animation: switchbg 10s infinite;  */
}

/* <!-- ----End Gallery Section----------> */

.reviews-wrapper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.reviews-wrapper h2 {
    font-size: 3.2rem;
    font-weight: 400;
    color: #222222 !important;
    text-underline-offset: 15px;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 1px;
}
.reviews-wrapper h3 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #8a795f;
    margin-bottom: 1em;
}

.reviews-container {
    max-width: 85%;
    height: 400px;
    margin-bottom: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

@media (max-width:980px) {
    .reviews-wrapper {
        margin-top: 3em;
    }

    .reviews-container {
        flex-direction: column;
        height: 100%;
        padding-bottom: 2em;
        position: relative;
    }

    .reviews-wrapper h2 {
        font-size: 2rem;
        margin-bottom: .5em;
    }
}

/* <!-- ----Contact Section----------------> */
#contact-section {
    position: relative;
    /*     box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.642); */
    min-height: 33vh;
    min-width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
}

#contact-section h2 {
    font-size: var(--fs-h2);
    font-weight: 400;
    color: #222222 !important;
    z-index: 1;
    margin-bottom: .5em;
}

#contact-section h4 {
    font-size: 1rem;
    color: var(--secondary);
    text-align: center !important;
    padding: .5em 0em 2em;
}

#contact-section p {
    color: #222222;
    font-size: var(--fs-p);
    font-weight: 300;
    text-align: justify;
    z-index: 1;
}

.contact-info {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-left: 1px solid #E7D8BA;
    padding: 1em 85px 0 15px;
    direction: ltr;
}

.contact-items-box {

    display: flex;
    flex-direction: column;
    gap: .5em;
}

.contact-info-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;

    text-decoration: none !important;
}

.contact-info-item a {
    font-size: 2.8rem;
    color: black;
    font-weight: 200;
    display: flex;
}

.contact-info-item svg {
    width: 35px;
    height: 45px;
    stroke: rgb(0, 0, 0);
    stroke-width: 0;
    stroke-linecap: butt;
}

#contact-map {
    width: 25%;
    border-right: 1px solid #E7D8BA;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    padding: .8em 2.5em;
}

#contact-map iframe {
    border-radius: 12px;
    opacity: .8;
    filter: grayscale(90%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

#contact-map iframe:hover {
    filter: grayscale(40%);
}

#contact-map i {
    font-size: 4em;
    color: #E7D8BA;
}

/* <!-- ----End Contact Section----------------> */

/* <!-- ----Scroll-up Button----------------> */
.btn-up {
    display: inline-flex;
    background: #E7D8BA;
    position: fixed;
    right: 15px;
    padding: 0;
    margin: 0;
    font-size: var(--fs-scbtn);
    transition: 0.5s;
    animation: btn-up-anim 30s linear infinite;
    border: 2px solid #E7D8BA;
    z-index: 10;
}

.btn-up a {
    display: inline-flex;
    font-size: 3.5rem;
    color: black;
    transition: 0.5s;
    opacity: 1;
    text-decoration: none;
}

.btn-up:hover i,
.btn-up i:hover {
    color: black;
}

.btn-up:hover {
    color: black;
    border: 1px solid black;
    background: #E7D8BA;
    border-radius: 50%;
    transform: scale(1.1) translateY(-5%) rotate(-5deg);
    opacity: 1;
}

.btn-up a:hover {
    animation-delay: .5s;
}

@keyframes btn-up-anim {

    0%,
    100% {
        border-radius: 25%;
    }

    50% {
        transform: rotate(5deg);
        border-radius: 50%;
    }

}

/* <!-- ----Scroll-up Button End------------> */

/* <!-- ----Footer--------------------------> */
#footer {
    background: black;
    display: flex;
    padding: 0.3em 1em;
    justify-content: space-between;
    text-align: center;
    color: white;
}

#footer h5 {
    text-align: justify;
    font-size: var(--fs-h5);
    align-self: center;
}

#footer h6 {
    text-align: justify;
    font-size: var(--fs-h6);
    padding-right: 1em;
}

/* <!-- ----Footer--------------------------> */

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-800px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearReverse {
    from {
        opacity: 0;
        transform: translateX(800px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearImg {
    from {
        opacity: 0;
        transform: scale(0.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.block,
.block-reverse {
    opacity: 0;
}

.block.frozen {
    animation: appear 1.5s forwards;
}

.block-reverse.frozen {
    animation: appearReverse 1.5s forwards;
}

.img-block.frozen{
    animation: appearImg 1.5s forwards;
}

@supports (animation-timeline: view()) {
    .block {
        animation: appear 1.5s forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }

    .block-reverse {
        animation: appearReverse 1.5s forwards;
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
    }
}