.form-container {
    position: relative;
    margin: 1em 0;
    padding-top: 1em;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.form-container h3{
    padding-bottom: 2em;
    font-size: 1.75rem;
    text-align: center;
    color: #dfbd79;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.432);
}

.contact-box {
    min-width: 40cqh;
    max-height: 30cqh;
    display: flex;
    align-items: center;
    width: 100%;

    padding: 0px 25px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box; 
    border-radius: 10px;
    border-bottom: 1px solid #E7D8BA;

}

.contact-box form {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5em;

    width: 100%;
}

.contact-box .input-box {
    position: relative;
}

.contact-box .input-box input {
    width: 100%;
    padding: 10px 4px;
    font-size: 16px;
    color: goldenrod;
    font-weight: 500;
    border: 1px solid #E7D8BA;
    outline: none;
    background: transparent;
}

#userMessage {
    border: 1px solid #E7D8BA !important;
}

.msg-label {
    bottom: 30px;
    right: 30px !important;
    margin-left: 30px;
}

.contact-box .input-box label {
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 600;
    color: var(--secondary);
    pointer-events: none;
    transition: .5s;
}

.contact-box .input-box input:focus~label {
    top: -30px;
    right: 0;
    color: var(--secondary);
    font-size: 0.9rem;
}

.input-box input:focus {
    border: 1px solid orange;
}

.contact-box .input-box input:placeholder-shown+label {
    color: var(--secondary);
}
.contact-box .input-box input:not(:placeholder-shown)~label {
    top: -30px;
    right: 0;
    
    font-weight: 600;
    transition: .5s;
}

.input-box input:not(:placeholder-shown) {
    border: 1px solid rgb(255, 72, 0);
}

.input-box:has(input:not(:valid)) .form-btn {
    outline: 3px solid red;
}

form:invalid .form-btn {
    pointer-events: none;
    opacity: 0.7;
}
form:valid .form-btn {
    color: var(--accent);
    border: 1px solid rgb(54, 233, 54);
    pointer-events: auto;
    background: white;
    opacity: 1;
}

.contact-box .input-box input:valid~label {
    right: 0;
    color: var(--secondary);
    font-size: 0.9rem;
    text-shadow: none;
}

.input-box input:valid {
    border: 1px solid rgb(0, 255, 136);
}

#message{
    border: 1px solid #E7D8BA !important;
}

.input-box input:valid~.form-btn {
    pointer-events: all !important;
}

.contact-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--secondary);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.form-btn {
    grid-column: -1/1;
    margin: 2em 0;
    display: inline-block;
    padding: 5px 0px !important;
    border: 1px solid #E7D8BA;
    border-radius: 6px;
    box-shadow: 0 0 1px var(--secondary);
    font-size: var(--fs-rebtn);
    color: var(--secondary);
    font-weight: 600;
    width: 150px;
    align-self: center;
    justify-self: center;
    text-align: center;
    transition: .5s;
}

.form-btn:hover {
    background-color: #E7D8BA;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%) !important;
}

.status{
    font-size: 2em !important;
    font-weight: 500 !important;
    text-align: center !important; 
    background: #E7D8BA;
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 5px;
}

.status.success{
    color: rgb(0, 68, 255) !important;
}
.status.error{
    color: orangered !important;
}

.contact-items-box {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;

    padding: 1em 0;
}
.mobile-show {
    display: none;
}

@media (max-width:980px) {


    #contact-section {
        min-height: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 1em .5em 2em;
    }

    .contact-bg {
        background-attachment: scroll;
    }

    #contact-section p {
        font-size: .98rem !important;
        justify-content: center;
        text-align: center;
        margin-top: unset;
        border-radius: 15px;
        height: 20px;
    }

    .form-container {
        width: 100% !important;
        height: 100%;
        margin: 1em 0;
        padding: 0;
    }

    .contact-box {
        min-width: 100%;
        border-bottom: unset;
    }

    .contact-box .input-box input {
        width: 100% !important;
        margin: 0px 0px 0px 0px;
    }

    .contact-box form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5em !important;
        row-gap: 1em !important;
    }

    .contact-box .input-box label {
        right: 10px;
    }

    .form-btn {
        width: 50%;
        padding: 5px 0px !important;
        grid-column: span 2;
    }

    #contact-section h2 {
        font-size: 2rem;
        align-self: center;
    }

    .contact-info {
        width: 100%;
        border-left: unset;
        border-bottom: 1px solid #E7D8BA;
    }

    .contact-items-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 1em 0;
    }

    .mobile-show{
        display: flex;
    }

    .contact-info-item{
        align-items: center;
        gap: 6px;
    }

    .contact-info-item a{
        font-size: 2rem;
    }

    #contact-map {
        display: none;
    }
}