.banner {
    margin-top: 5em;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    z-index: 3;
    pointer-events: none;
}

.carousel-controls .arrow {
    pointer-events: auto;
    opacity: 1;
    height: 100px;
    border: none;
    font-size: 5rem;
    -webkit-text-stroke: 2px var(--secondary);

    margin: 0 10px;
    cursor: pointer;
    user-select: none;
    display: flex;

    align-items: center;
}

.banner .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(1000px) rotateX(var(--x-angle)) rotateY(var(--y-angle));

    animation: autoRun 30s linear infinite;
    z-index: 2;


    transition: transform 2s ease;
    will-change: transform;

}

@keyframes autoRun {
    from {
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);

    transition: 1s ease;
}

.banner .slider .item:hover {}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;

    transform: translateZ(0);
    filter: contrast(1.05) brightness(1.02);
}

.banner .slider .item img:hover {
    border: 2px solid rgba(154, 126, 76, 1);
    box-shadow: -3px 3px 10px 5px black;
}

.banner .slider .item.centered img {
    border: 2px solid rgba(154, 126, 76, 1);
    box-shadow: 0px 0px 10px 2px black;
    width: 450px;
    height: 280px;
    transform: translateX(-124px) scale(1);
    transition: transform 0.4s ease;
}

.content {
    width: 100%;
    height: 125px;
    position: absolute;
    bottom: 0px;
    left: 20px;

    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.content h1 {
    width: 40%;
    font-size: 10rem;
    color: #25283B;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.content h1::after {
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.content .author {
    width: 50%;
    font-family: Poppins;
    text-align: right;
}

.content h2 {
    font-size: 3em;
    text-align: center;
}

.content p {
    color: snow;
}

@media screen and (max-width: 1023px) {
    .banner {
        height: 70cqh;
    }

    .banner .slider {
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
        transition: 1s ease;
    }

    .carousel-controls .arrow {
        margin: 0px;
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .slider .item.centered img {
        border: 2px solid rgba(154, 126, 76, 1);
        box-shadow: 0px 0px 10px 2px black;
        width: 200px;
        height: 200px;
        transform: translateX(-50px) scale(1);
        transition: transform 0.4s ease;
    }

    .content {
        left: 0;
        height: 43px;
        gap: 2em;
    }

    .content h1 {
        width: 40%;
        font-size: 3rem;
    }

    .content h2 {
        font-size: 1.2rem !important;
        text-align: left;
    }

    .author {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(250px);
    }

}