@media (max-width:980px) {
    :root {
        --fs-h1: 2.3rem;
        --fs-h1-span: 4rem;
        --fs-h2: 2.8rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.4rem;
        --fs-h5: 0.8rem;
        --fs-h6: 0.5rem;
        --fs-p: 1rem;

        --fs-navlogo: 1.5rem;
        --fs-navli: 0.7rem;
        --fs-rebtn: 0.7rem;
        --fs-scbtn: 1rem;
        --fs-asidebtn: 2rem;
    }

    /* <!-- ----Mobile Wrapper Animation-------> */
    /* <!-- ----Mobile Wrapper Animation End---> */
h1{
    font-size: 2rem;
}

.general-info{
    margin: 0;
}
.gen-info-box{
    grid-template-columns: 1fr !important;
}
.info-img-box-left{
    margin-top: 1em !important;
    padding: 0;
    min-height: 200px;
    max-width: 70%;
}
.info-img-left{
    margin: 1em !important;
}
    /* <!-- ----Mobile Projects Section--------------> */
    .gallery-section {
        background-size: 115cqw auto;
        background-attachment: scroll;
        min-height: calc(100vh - 65px);
        padding: 3em 0 0;
    }

    .sticky-title {
        min-width: 100%;
        overflow: hidden;
        border: none;
        height: 70px;
        z-index: 5;
    }

    .sticky-title h2,
    .projects-menu {
        z-index: 5;
        position: relative;
    }

    .cards-container{
        padding: 0em 0em 5em !important;
    }

    /* <!-- ----Mobile Projects Section End----------> */

    /* <!-- ----Mobile Contact Section--------------> */
    /* <!-- ----Mobile Contact Section End----------> */

    /* <!-- ----Mobile Scroll-up Button-------------> */
    .btn-up {
        right: 10px !important;
        bottom: 35px !important;
    }

    .btn-up a {
        font-size: 3rem !important;
        opacity: 0.7 !important;
    }

    /* <!-- ----Mobile Scroll-up Button End---------> */


    /* <!-- ----Mobile Footer-----------------------> */
    #footer h5 {
        font-size: var(--fs-h5);
    }

    #footer h6 {
        font-size: var(--fs-h6);
    }
}

/* <!-- ----Mobile Footer End-------------------> */