.cards-container {
    display: none;
    background: transparent;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
    gap: 15px;
    row-gap: 15px;
    padding: 2em 0 3em;
    height: 100%;
}

.cards-box {
    background: transparent;
    object-fit: contain;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
    padding: 0 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    transition: .6s;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

.cards-box:hover {
    transform: scale(1.04);
    border-radius: 10px;
    z-index: 1;
}

.cards-box:hover h4,
.cards-box:hover p {
    background: rgba(0, 0, 0, 0.6);
}

.sticky-title {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    height: 50px;
    margin-bottom: 100px;

    text-align: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.sticky-title h2 {
    color: var(--secondary) !important;
}

.gallery-menu {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    font-size: .9rem;
    font-weight: 700;
}

.gallery-filter {
    cursor: pointer;
    transition: .5s;
    color: var(--accent);
    font-size: 1.2rem;
    text-shadow: -1px .5px 1px black;
}

.gallery-filter:hover {
    color: goldenrod;
    font-size: 1.25rem;
}

.gallery-section h2 {
    font-size: 1.8rem;
    color: snow;
    max-width: 100vw;
}

.cards-box h4 {
    text-align: center;

    font-size: var(--fs-h4);
    color: snow;
    text-decoration: underline;
    font-weight: 700;
    width: 100%;
}

.cards-box p {
    background: rgba(0, 0, 0, 0.645);
    position: absolute;
    bottom: 5px;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    color: snow;
    font-weight: 600;
    margin-bottom: 0em;
}

.cards-img-box {
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding-top: 75%;
    overflow: hidden;
    position: relative;

}

.cards-img-box img {
    transition: 1s;
    image-rendering: optimizeQuality;
    object-fit: cover;
    position: absolute;
    min-height: 100%;
    max-height: 100%;
    position: absolute;
    max-width: 100%;
    justify-self: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.712);
}

.cards-box:hover img {
    scale: 1.06;
    transform: rotateY(20deg);
}


.card-tags {
    background: #052c62;
    color: rgba(0, 238, 255, 0.914);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
    box-shadow: 0 0 15px 1px #00fbff63;
    opacity: 0.90;
    overflow: hidden;
    transition: 4s;
    animation: tags-anim 4s linear infinite;
}

@keyframes tags-anim {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(-50%);
    }
}

.cards-btn {
    display: block;
    position: absolute;
    margin: .2em 0 .5em;
    bottom: 5px;
    padding: 0.3em 0em;
    background: transparent;
    border: 2px solid var(--secondary);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--secondary);
    font-size: var(--fs-btn-cards);
    color: var(--secondary);
    font-weight: 600;
    transition: .5s;
    align-self: center !important;
    width: 70%;
    text-align: center;
}

.cards-btn:hover {
    background: transparent !important;
    color: var(--secondary) !important;
    border: 1px solid var(--backcolor1) !important;
    box-shadow: 0 0 8px var(--secondary) !important;
    transform: scale(1.05) translateY(-5%);
}


.cards-box:hover .cards-btn {
    background: #b8f3ffd4;
    color: var(--backcolor1);
    border: 2px solid var(--secondary);
    box-shadow: 0 0 8px var(--secondary);
}

.load-more-btn {
    display: block;
    margin: 2em auto;
    padding: .4em 2em;
    background-color: #96722b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.load-more-btn:hover {
    background-color: #b0894f;
}

@media (max-width:980px) {
    .sticky-title{
        margin-bottom: 0px;
    }
    .gallery-menu {
        display: flex;
        gap: .6em;
        font-weight: 600;
    }

    .gallery-filter {
        transition: .5s;
    
        font-size: 1rem;
        text-shadow: -1px .5px 1px rgba(0, 0, 0, 0.036);
        font-weight: 700;
    }
    .gallery-filter:hover{
        font-size: 1rem;
    }

    .gallery-section h2 {
        min-width: 100%;
        font-size: 1.4rem;
    }

    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(175px, 150px));
        width: 98%;
        gap: .5em;
    }

    .cards-box {
        min-width: 175px;
        min-height: 175px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.075);
    }

    .cards-box.visible {
        margin: 2em 0;
        transform: scale(1.09);
        border-radius: 15px;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        opacity: 1;
    }

    .cards-box.visible p {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: background 1.25s ease-in-out;
    }

    .load-more-btn{
        padding: 6px 12px;
    }
}