.nav-header {
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding-right: .8em;
    opacity: 1;
}

.mobile-featured-menu{
    display: none !important;
}

.nav-bar {
    min-width: 100%;
    max-width: 100%;
    height: 75px;
    padding: 0px 9px;
    gap: 2em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end !important;
    z-index: 100;

    backdrop-filter: blur(10px);
    
    visibility: hidden;
    opacity: 0;
    animation: show-content .2s linear forwards;
}

.navbar-logo{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}    
.navbar-logo img {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}
.desktop-call-btn{
    position: absolute;
    top: 20px;
    left: 25px;
}

.desktop-call-btn svg, .desktop-call-btn a{
    stroke: black !important;
    stroke-width: 2px !important;
}

.nav-bar a {
    width: fit-content;
    text-decoration: none;
}

.checkbox-container img {
    margin-top: 5px;
    width: 35px;
    height: 35px;
}

.checkbox-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
}

#checkbox-status {
    display: none;
}

.checkON,
.checkOFF {
    display: none;
}

.nav-bar ul {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2em;
    box-sizing: border-box;
}

.nav-bar ul li {
    width: fit-content;
    list-style-type: none;
    transition: .2s;
    border-radius: unset;
}

.nav-bar ul li:hover {
    transform: scale(1.07) translateY(-3%);
}

.nav-bar ul li a,
.nav-bar ul li p, 
.nav-bar ul li button{
    font-size: var(--fs-navli);
    font-weight: 600;
    color: black;
/*     text-shadow: -1px 0px var(--secondary); */
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
    cursor: pointer;
    padding: 0 !important;
    letter-spacing: 2px;
}
.active{
    color: black;
}

.nav-bar ul li:hover a,
.nav-bar ul li:hover p,
.nav-bar ul li:hover button {
    color: #daad55;
    border-bottom: 1px solid var(--secondary);
}

.expandable-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.expandable-nav-item:hover {
    transform: scale(1.02) !important;
}

.expandable-nav-item:hover .events-list.dropdown a,
.expandable-nav-item:hover .gallery-list.dropdown a {
    border-bottom: unset;
    color: rgba(154, 126, 76, 1);
}

.events-list.dropdown{
    transform: translateX(1500px);
}
.gallery-list.dropdown{
    transform: translateX(1200px);
}
.events-list.dropdown,
.gallery-list.dropdown {
    opacity: 1;
    transition: .4s;
    width: 210px;
    height: unset;
    position: absolute;
    top: 62px;
    left: -40px;
    background: rgba(0, 0, 0, 0.942);
    padding: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(154, 126, 76, 1);
    border-top: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.events-list.dropdown.open,
.gallery-list.dropdown.open {
    z-index: 100;
    transform: translateY(0px);
    display: flex;
}

.events-dropdown-arrow,
.gallery-dropdown-arrow {
    font-size: 30px;
    color: black;
    transform: translateY(3px) translateX(-4px);
}

.events-list.dropdown a,
.gallery-list.dropdown a {
    font-size: 1.2rem;
    color: rgba(154, 126, 76, 1);
}

.events-list.dropdown:hover a,
.gallery-list.dropdown:hover a {
    border-bottom: none;
    
    color: rgba(154, 126, 76, 1);
}

@media (max-width:980px) {

    /* <!-- ----Mobile Header--------------> */
    .nav-header{
        padding-right: unset;
        height: 50px;
    }
    .nav-bar {
        width: 100%;
        height: 55px;
        flex-direction: row;
        align-items: center!important;
        justify-content: space-between !important;
        padding: 0 10px 0px 10px !important;

        gap: 0 !important;
    }

    .checkON {
    
    }
    .nav-bar svg{
        width: 50px;
        height: 45px;
        stroke: rgb(233, 233, 233);
        stroke-width: 3;
        stroke-linecap: butt;
    }
    .menu-close-icon{
        stroke: var(--secondary) !important;
        height: 50px !important;
        width: 40px !important;
    }
    .hamburger-icon .line-outline {
        stroke: rgba(0, 0, 0, 0.304);
        stroke-width: 3.8;
    }

    .hamburger-icon line {
        stroke: white;
        stroke-width: 2.8;
    }

    .checkbox-container {
        flex-direction: column;
        position: fixed;
        top: -750px;
        right: 0;
        width: 100%;
        z-index: 100;
        background-color: var(--gradient1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.4s ease-out;
    }
    .checkbox-container li a, .checkbox-container li button{
        color: rgba(154, 126, 76, 1) !important;
    }
    .navbar-logo {
        width: 100px;
        height: 100px;
    }
    .nav-bar ul {
        gap: .8em;
        background-color: #080808e0;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        min-height: auto;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: .2em;
        padding: 2em;
    }

    .nav-bar ul li a,
    .nav-bar ul li p, 
    .nav-bar ul li button {
        color: rgba(154, 126, 76, 1);
        width: 100%;
        min-height: 100%;
        max-height: 40px;
        padding: 0.2em !important;
        display: flex;
        justify-content: center !important;
        font-size: 1.2em;
        box-shadow: unset;
        text-shadow: none;
        letter-spacing: .5px;
    }

    .nav-bar ul li {
        border: 1px solid goldenrod;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }

    .nav-bar ul li:hover {
        align-self: center;
        margin: 5px;
    }

    .nav-bar ul li a:hover,
    .nav-bar ul li.active a:hover {
        color: var(--accent);
        border-bottom: 1px solid var(--accent2);
    }

    .checkON,
    .checkOFF {
        display: flex !important;
        flex-direction: column;
        align-self: center;
    }

    .checkON,
    .checkOFF {
        display: block;
    }

    #checkbox-status:checked~.checkbox-container {
        top: 0px;
    }

    #checkbox-status:checked~#coverlay,
    #checkbox-status:checked~#coverlay:hover {
        background: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        min-height: 1000px !important;
        width: 100% !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100 !important;
        transition: 0s !important;
        overflow: visible;
    }

    #checkbox-status:checked~.checkON {
        display: none !important;
    }

    .events-list.dropdown,
    .gallery-list.dropdown {
        max-height: 0;
        top: 35px;
        left: 0;
        width: 100%;
        padding: 0px 10px;
        margin-top: 12px !important; 
    }

    .nav-bar ul li:hover a,
    .nav-bar ul li:hover p,
    .nav-bar ul li.active a,
    .nav-bar ul li:hover button {
        border-bottom: unset;
    }

    .events-list.dropdown li,
    .gallery-list.dropdown li {
        padding: 0px !important;
        width: 100%;
    }

    .events-list.dropdown li a,
    .gallery-list.dropdown li a {
        padding: 0px 1px !important;
        width: 100%;
    }

    .events-dropdown-arrow,
    .gallery-dropdown-arrow {
    color: black;
    }

    .mobile-featured-menu{
        all: unset;
        display: flex !important;
        flex-direction: row !important;
        overflow-y: unset;
        background-color: transparent !important;
        min-height: unset !important;
        margin-top: unset !important;
        padding: unset !important;
        gap: 0px !important;
        justify-content: flex-end !important;
        align-items: center !important;
        font-size: .9rem !important;
    
    }
    .mobile-featured-item{
        all: unset;
        border: unset !important;
        padding: 0 !important;
        width: unset !important;
        max-width: unset !important;
    }
    .mobile-featured-item a{
        all: unset;
        margin: 2px !important
    }
    .mobile-call-btn-li{
        all: unset !important;
        border: unset !important;
        position: absolute !important;
        top: 7px !important;
        left: 55px !important;
        width: 50px !important;
    }

    .mobile-call-btn{
        color: var(--accent);
        padding: 3px 6px;
    }
    .mobile-call-btn svg{
        width: 35px;
        height: 35px;
        stroke: rgb(0, 0, 0, 0);
        stroke-width: 1;
        stroke-linecap: butt;
}
    
}
    /* <!-- ----Mobile Header End--------------> */